fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
pydantic-settings==2.5.2
SQLAlchemy==2.0.35
psycopg[binary,pool]==3.2.3
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
alembic==1.13.2